---
import Layout from '../layouts/Layout.astro';
---

<Layout title="商城">
  <section class="py-12">
    <h1 class="text-4xl font-light mb-8 text-center">商城</h1>
    <p class="text-gray-500 text-center">商城功能正在建设中，敬请期待。</p>
  </section>
</Layout>